# Copy to `.env` and adjust as needed. See README.md (Environment Variables).
# Values may also be set directly as shell environment variables using the
# `EAS_WEATHER_RS__<SECTION>__<KEY>` scheme.

EAS_WEATHER_RS__WEBSERVER__HOSTNAME="localhost"
#EAS_WEATHER_RS__LOGGING__FORMAT="text"
#EAS_WEATHER_RS__WEBSERVER__API_KEY_FILE="./test_api"
