# Copy to `.env` and adjust as needed. See README.md (Environment Variables).
# Values may also be set directly as shell environment variables using the
# `EAS_WEATHER_RS__<SECTION>__<KEY>` scheme.

# Application configuration
#EAS_WEATHER_RS__APP__CONFIG_FILE=./config/config.toml   # Path to custom config file

# Logging configuration
#EAS_WEATHER_RS__LOGGING__FORMAT="text"                 # Log formatting ["text", "json"]
#EAS_WEATHER_RS__LOGGING__TRACE_LEVEL="info"           # Log level ["error", "warn", "info", "debug", "trace"]

# Webserver configuration
#EAS_WEATHER_RS__WEBSERVER__HOSTNAME="localhost"       # Server host
#EAS_WEATHER_RS__WEBSERVER__PORT=8080                 # Server port
#EAS_WEATHER_RS__WEBSERVER__BASE_PATH="/"             # Base path for API
#EAS_WEATHER_RS__WEBSERVER__SHUTDOWN_TIMEOUT_SECS=5   # Graceful shutdown timeout in seconds
#EAS_WEATHER_RS__WEBSERVER__API_KEY_FILE=""           # Path to the API key file
#EAS_WEATHER_RS__WEBSERVER__JWT_KEY_FILE=""          # Path to the JWT key file (not currently used)
#EAS_WEATHER_RS__WEBSERVER__JWT_ACCESS_TOKEN_EXPIRY_SECS=900  # JWT access token expiry in seconds (not currently used)
#EAS_WEATHER_RS__WEBSERVER__DEFAULT_PAGE_LIMIT=10    # Default page size for paginated endpoints
#EAS_WEATHER_RS__WEBSERVER__PAGE_LIMIT_MAX=100       # Maximum page size for paginated endpoints

# Database configuration
#EAS_WEATHER_RS__DATABASE__CONN_URL_FILE="./config/mysql_conn_url"   # Database connection URL file path
#EAS_WEATHER_RS__DATABASE__CONN_MAX_RETRIES=5                        # Maximum number of connection retries
#EAS_WEATHER_RS__DATABASE__CONN_RETRY_INIT_DELAY_SECS=1              # Initial delay between connection retries in seconds, exponential backoff
#EAS_WEATHER_RS__DATABASE__CONN_ACQUIRE_TIMEOUT_SECS=5               # Maximum amount of time to spend waiting per connection attempt in seconds
#EAS_WEATHER_RS__DATABASE__CONN_IDLE_TIMEOUT_SECS=300                # Idle connection timeout in seconds
#EAS_WEATHER_RS__DATABASE__CONN_MAX_LIFETIME_SECS=1800               # Maximum lifetime of a connection in seconds
#EAS_WEATHER_RS__DATABASE__MIN_CONNECTIONS=1                         # Minimum number of database connections in the pool
#EAS_WEATHER_RS__DATABASE__MAX_CONNECTIONS=151                       # Maximum number of database connections in the pool